# Default config is merged with the overrides in this file.
# https://zitadel.com/docs/self-hosting/manage/configure#runtime-configuration-file

Log:
  Level: 'INFO'

Port: 8080
ExternalPort: 443
ExternalSecure: true
TLS:
  Enabled: true
  KeyPath: '/app/private.key'
  CertPath: '/app/certificate.crt'

Database:
  postgres:
    Port: 5432
    User:
      SSL:
        Mode: 'require'
    Admin:
      SSL:
        Mode: 'require'
    MaxOpenConns: 25
    MaxIdleConns: 10
    MaxConnLifetime: '30m'
    MaxConnIdleTime: '5m'

DefaultInstance:
  LoginPolicy:
    AllowRegister: true
    ForceMFA: false
    HidePasswordReset: false
    IgnoreUnknownUsernames: true
  OIDCSettings:
    AccessTokenLifetime: '0.5h'
    IdTokenLifetime: '0.5h'
    RefreshTokenIdleExpiration: '720h'
    RefreshTokenExpiration: '2160h'
  Features:
    LoginV2:
      Required: true

OIDC:
  DefaultAccessTokenLifetime: '0.5h'
  DefaultIdTokenLifetime: '0.5h'
  DefaultRefreshTokenIdleExpiration: '24h'
  DefaultRefreshTokenExpiration: '24h'

Restrictions:
  AllowedLanguages:
    - 'en'
    - 'fr'