name: Terraform Plan Staging
on:
  pull_request:
    paths:
      - "terraform/aws/**"
      - "terraform/env/staging/**"
      - "terraform/env/common/**"
      - "terraform/env/root.hcl"
      - ".github/workflows/tf-plan-staging.yml"

env:
  AWS_REGION: ca-central-1
  TERRAFORM_VERSION: 1.14.3
  TERRAGRUNT_VERSION: 0.98.0
  TF_SUMMARIZE_VERSION: 0.3.5
  TRUFFLEHOG_VERSION: 3.90.12
  TF_VAR_idp_admin_username: ${{ secrets.STAGING_IDP_ADMIN_USERNAME }}
  TF_VAR_idp_admin_password: ${{ secrets.STAGING_IDP_ADMIN_PASSWORD }}
  TF_VAR_idp_database_username: ${{ secrets.STAGING_IDP_DATABASE_USERNAME }}
  TF_VAR_idp_database_password: ${{ secrets.STAGING_IDP_DATABASE_PASSWORD }}
  TF_VAR_idp_database_admin_username: ${{ secrets.STAGING_IDP_DATABASE_ADMIN_USERNAME }}
  TF_VAR_idp_database_admin_password: ${{ secrets.STAGING_IDP_DATABASE_ADMIN_PASSWORD }}
  TF_VAR_idp_loginclient_machine_username: ${{ secrets.STAGING_IDP_LOGINCLIENT_MACHINE_USERNAME }}
  TF_VAR_idp_secret_key: ${{ secrets.STAGING_IDP_SECRET_KEY }}

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  terraform-plan:

    runs-on: ubuntu-latest
    steps:
      - name: Audit DNS requests
        uses: cds-snc/dns-proxy-action@85118f9b128d57d13dc3cc2ee11d014658dd3e1a
        env:
          DNS_PROXY_FORWARDTOSENTINEL: "true"
          DNS_PROXY_LOGANALYTICSWORKSPACEID: ${{ secrets.LOG_ANALYTICS_WORKSPACE_ID }}
          DNS_PROXY_LOGANALYTICSSHAREDKEY: ${{ secrets.LOG_ANALYTICS_WORKSPACE_KEY }}

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Terraform tools
        uses: cds-snc/terraform-tools-setup@5a19984bcb888600ad646e0caf5c6f4d0a54c165 # v1.2.0

      - name: Configure aws credentials using OIDC
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::${{ vars.STAGING_AWS_ACCOUNT_ID }}:role/unified-accounts-plan 
          role-session-name: TFPlan
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform plan
        uses: cds-snc/terraform-plan@1b4903a352477e557da26309f39e62d2a5fdd08b # v4.0.0
        with:
          comment-delete: true
          comment-title: "Staging"
          directory: "terraform/env/staging"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          secret-scan: true
          terragrunt: true